gallery{
  display: flex;
  flex-wrap: wrap;
}

.image-card{
  padding: 2%;
  width: 30%;
  flex-grow: 1;
  display: flex;
}

.info{
  width: 95%;
  align-self: center;
}

.gallery img {
  border-style: solid;
  border-radius: 10px;
  width: 95%;
}


* {
  font-family: inherit;
  text-align: center;
}

body{
  background-color: cornflowerblue;
}

h1{
  font-size: 45px;
  background-color: dimgray;
  padding: 15px;
  border-style: solid;
  border-radius: 10px;
}

h2{
  margin: 0px;
}


.main-content > img {
  border-style: solid;
  border-radius: 20px;
  width: 90%;
  margin-bottom: 20px;
}
